<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
    <p>Domicilio</p>
    <a (click)="editAddress()">EDITAR</a>
  </div>
</ion-header>

<ion-content>
  <form class="form--disabled">

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Calle</ion-label>
        <ion-input value="{{ address?.street }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Número exterior</ion-label>
        <ion-input value="{{ address?.external_number }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Número interior</ion-label>
        <ion-input value="{{ address?.internal_number }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Código postal</ion-label>
        <ion-input value="{{ address?.postal_code }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Colonia</ion-label>
        <ion-input value="{{ address?.colony }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Municipio/Delegación</ion-label>
        <ion-input value="{{ address?.location }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Estado</ion-label>
        <ion-input value="{{ address?.state }}" disabled>
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">País</ion-label>
        <ion-input value="{{ address?.country }}" disabled>
        </ion-input>
      </ion-item>
    </div>

  </form>
</ion-content>
