<ion-content>

  <div class="tabs--bg"></div>
  <div class="tabs--translate">

    <div class="habits--header">
      <div><h1>Hábitos de manejo</h1></div>
    </div>

    <div class="habits--content">
      <div class="habits--content-grid">
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
        <div>
          <img src="../../../assets/demo/icon.svg" />
          <p>Título del hábito</p>
          <b>VALOR</b>
        </div>
      </div>
    </div>

  </div>
  
</ion-content>
