<ion-content>

  <div class="tabs--bg"></div>
  <div class="tabs--translate">

    <div class="habits--header">
      <div><h1>Hábitos de manejo</h1></div>
    </div>

    <div class="habits--content">
      <div class="habits--content-grid">
        <div>
          <img src="../../../assets/ui/habits-tiempo.svg" />
          <p>Tiempo de uso</p>
          <b>54.00 min</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-aceleracion.svg" />
          <p>Aceleración</p>
          <b>0.00 km/hr</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-frenado.svg" />
          <p>Frenado brusco</p>
          <b>1</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-vuelta.svg" />
          <p>Vuelta brusca</p>
          <b>2</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-tope.svg" />
          <p>Número de</p>
          <p>Topes/Baches/Bados</p>
          <b>0</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-distancia.svg" />
          <p>Distancia manejada</p>
          <b>14.65 km</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-velocidad.svg" />
          <p>Velocidad promedio</p>
          <b>13.38 km/hr</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-manejo.svg" />
          <p>manejo</p>
          <b>?</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-expuesta.svg" />
          <p>expuesta</p>
          <b>?</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-rutas.svg" />
          <p>rutas</p>
          <b>?</b>
        </div>
      </div>
    </div>

  </div>

</ion-content>
