<ion-content>

  <div class="tabs--bg"></div>
  <div class="tabs--translate">

    <div class="habits--header">
      <div><h1>Hábitos de manejo</h1></div>
    </div>

    <div class="habits--content">
      <div class="habits--content-grid">
        <div>
          <img src="../../../assets/ui/habits-tiempo.svg" />
          <p>Tiempo de uso</p>
          <b>{{ use_time_hrs | number : '1.2-2' }} {{ unit_use_time }}</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-aceleracion.svg" />
          <p>Aceleración</p>
          <b>{{ dataDrivingHabits?.hard_acceleration | number : '1.2-2' }} km/hr</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-frenado.svg" />
          <p>Frenado brusco</p>
          <b>{{ dataDrivingHabits?.hard_brakes }}</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-vuelta.svg" />
          <p>Vuelta brusca</p>
          <b>{{ dataDrivingHabits?.hard_turn }}</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-tope.svg" />
          <p>Número de</p>
          <p>Topes/Baches/Bados</p>
          <b>{{ dataDrivingHabits?.hard_turn }}</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-distancia.svg" />
          <p>Distancia manejada</p>
          <b>{{ dataDrivingHabits?.distance | number : '1.2-2' }} km</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-velocidad.svg" />
          <p>Velocidad promedio</p>
          <b>{{ dataDrivingHabits?.avg_drive_speed | number : '1.2-2' }} km/hr</b>
        </div>
        <!-- <div>
          <img src="../../../assets/ui/habits-manejo.svg" />
          <p>manejo</p>
          <b>?</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-expuesta.svg" />
          <p>expuesta</p>
          <b>?</b>
        </div>
        <div>
          <img src="../../../assets/ui/habits-rutas.svg" />
          <p>rutas</p>
          <b>?</b>
        </div> -->
      </div>
    </div>

  </div>

</ion-content>
