<ion-header mode="ios">
  <div class="header--double_icon">
    <ion-icon name="ios-arrow-back" routerLink="/cards" routerDirection="back"></ion-icon>
    <p>(Nombre de la tarjeta)</p>
    <ion-icon src="../../../../assets/ui/icon-dots.svg" (click)="onClickOptions()"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <div class="edit--card">

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Número de la tarjeta</ion-label>
        <ion-input value="**** **** **** 8989" disabled></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Fecha de expiración</ion-label>
        <ion-input value="12 / 21" disabled></ion-input>
      </ion-item>
    </div>

  </div>
</ion-content>
