<ion-header mode="ios">
    <div class="header--clean">
      <ion-icon name="ios-arrow-back" routerLink="/profile" routerDirection="back"></ion-icon>
      <p>Editar [campo seleccionado]</p>
    </div>
  </ion-header>

<ion-content>
  <form class="form--clean">

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">[Campo seleccionado]</ion-label>
        <ion-input type="text" name="text" ngModel required #text="ngModel"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-button *ngIf="!text.valid" fill="solid" expand="full" shape="round" mode="ios" disabled>Guardar</ion-button>
      <ion-button *ngIf="text.valid" fill="solid" expand="full" shape="round" mode="ios" routerLink="/password">Guardar</ion-button>
    </div>

    <div class="form--validation" *ngIf="text.touched && !text.valid">
      <ion-text>Mensaje de validación correspondiente</ion-text>
    </div>

  </form>
</ion-content>
