<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/password" routerDirection="back"></ion-icon>
    <p>Recupera tu contraseña</p>
  </div>
</ion-header>

<ion-content>

  <div class="form--container reset">

    <form #reset="ngForm" (ngSubmit)="onSubmit(password)" class="form--simple">
      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Correo electrónico</ion-label>
          <ion-input
            type="email"
            name="email"
            ngModel
            email
            required
            #reset="ngModel">
          </ion-input>
        </ion-item>
      </div>
      <div class="form--validation" *ngIf="reset.touched && !reset.valid">
        <ion-text>Por favor verifica tu correo</ion-text>
      </div>
      <div>
        <ion-button *ngIf="!reset.valid" fill="solid" expand="full" shape="round" mode="ios" disabled>Enviar</ion-button>
        <ion-button *ngIf="reset.valid" type="submit" fill="solid" expand="full" shape="round" mode="ios">Enviar</ion-button>
      </div>
    </form>

    <div *ngIf="showAlert" class="reset--alert">
      <div class="reset--alert-content">
        <header>
          <img src="../../../../assets/ui/icon-check-green.png" />
          <p>Correo enviado</p>
        </header>
        <ion-text>Te enviamos un enlace para recuperar tu contraseña</ion-text>
        <div>
          <ion-button fill="solid" expand="full" shape="round" mode="ios" routerLink="/" routerDirection="back">OK</ion-button>
        </div>
      </div>
    </div>

  </div>

</ion-content>
