.reset {
  padding: 1rem;

  &--alert {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(black, 0.8);
    z-index: 11;
    animation: fadeIn 0.3s linear;

    &-content {
      width: auto;
      max-width: 75%;
      display: inline-block;
      background-color: white;
      border-radius: var(--ion-radius-card);
      padding: 1rem;
      header {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        img {
          display: inline-block;
          width: 2rem;
          margin-right: 0.5rem;
        }
        p {
          color: var(--ion-color-primary);
          font-family: var(--ion-font-headline);
          font-size: 1rem;
          font-weight: 700;
        }
      }
      ion-text {
        display: inline-block;
        margin: 0.5rem 0;
        padding: 0.5rem;
      }
      ion-button {
        color: white;
        margin: 0.5rem 0;
      }
    }
  }

}