<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
    <p>Seguridad</p>
  </div>
</ion-header>

<ion-content>

  <div class="options--links">
    <a routerLink="/password-edit" routerDirection="forward">
      <div>
        <ion-icon name="md-lock"></ion-icon>
        <span>Contraseña</span>
      </div>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </a>
    <a routerLink="/nip-edit" routerDirection="forward">
      <div>
        <ion-icon name="md-lock"></ion-icon>
        <span>NIP</span>
      </div>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </a>
  </div>



</ion-content>
