<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/login" routerDirection="back"></ion-icon>
    <p>Inicia sesión</p>
  </div>
</ion-header>

<ion-content>

  <div class="form--container password">

    <form #password="ngForm" (ngSubmit)="onSubmit(password)" class="form--clean">
      <div class="form--image">
        <img src="../../../assets/ui/login-logos.png" />
      </div>
      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Contraseña</ion-label>
          <ion-input
            [type]="!this.showPassword ? 'password' : 'text'"
            name="password"
            ngModel
            password
            minlength="6"
            required
            #password="ngModel">
          </ion-input>
          <ion-icon
            [name]="!this.showPassword ? 'md-eye' : 'md-eye-off'"
            (click)="passwordVisibility()">
          </ion-icon>
        </ion-item>
      </div>
      <div class="form--validation" *ngIf="password.touched && !password.valid">
        <ion-text>Por favor verifica tu correo</ion-text>
      </div>
      <div>
        <ion-button fill="clear" expand="block" size="small" color="medium" mode="ios" routerLink="/reset">olvidé mi contraseña
        </ion-button>
      </div>
      <div>
        <ion-button *ngIf="!password.valid" type="button" fill="solid" expand="full" shape="round" mode="ios" disabled>Entrar</ion-button>
        <ion-button *ngIf="password.valid" type="submit" fill="solid" expand="full" shape="round" mode="ios">Entrar</ion-button>
      </div>
    </form>

  </div>

</ion-content>
