<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Agregar tarjeta</ion-title>
  </ion-toolbar>
  <!-- <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/cards" routerDirection="back"></ion-icon>
    <p>Agregar tarjeta</p>
  </div> -->
</ion-header>

<ion-content>
  <div class="add--card">
      <form class="add--form" #addCard="ngForm" (ngSubmit)="onSubmit(addCard)">

        <div class="add--full">
          <ion-item class="add--input" mode="ios">
            <ion-label position="floating" mode="ios">Nombre del titular</ion-label>
            <ion-input type="text" name="cardHolder" placeholder="Nombre en tarjeta" ngModel required #cardHolder="ngModel"></ion-input>
          </ion-item>
        </div>

        <div class="add--full">
          <ion-item class="add--input" mode="ios">
            <ion-label position="floating" mode="ios">Número de tarjeta</ion-label>
            <ion-input type="text" name="cardNumber" placeholder="**** **** **** ****" ngModel required #cardNumber="ngModel"></ion-input>
            <img src="../../../../assets/payment/card-master.png" />
          </ion-item>
        </div>

        <div class="add--half">
          <ion-item class="add--input" mode="ios">
            <ion-label position="floating" mode="ios">Expiración</ion-label>
            <ion-datetime name="cardDate" displayFormat="MM/YY" pickerFormat="YYYY-MM" min="2019" max="2034" placeholder="12 / 21" ngModel required #cardDate="ngModel">
            </ion-datetime>
          </ion-item>
        </div>

        <div class="add--half">
          <ion-item class="add--input" mode="ios">
            <ion-label position="floating" mode="ios">CVV</ion-label>
            <ion-input type="password" name="cardCvv" placeholder="***" ngModel required #cardCvv="ngModel"></ion-input>
          </ion-item>
          <ion-icon name="md-help-circle-outline" (click)="onClickHelp()"></ion-icon>
        </div>

        <div class="add--button add--full">
          <ion-button color="primary" shape="round" fill="solid" type="submit">Guardar</ion-button>
        </div>

        <div class="form--validation" *ngIf="cardHolder.touched && !cardHolder.valid">
          <ion-text>Mensaje de error correspondiente</ion-text>
        </div>

      </form>

      <div *ngIf="showMessage" class="add--notification">
        <div class="add--notification-content">
          <div class="add--notification-bg" (click)="onCloseHelp()"></div>
          <div class="add--notification-message">
            <h4>CVV</h4>
            <p>Es el código de 3 dígitos ubicado al reverso de tu tarjeta</p>
            <img src="../../../../assets/ui/icon-cvv.png" />
            <ion-button color="primary" shape="round" fill="solid" size="full" (click)="onCloseHelp()">Ok</ion-button>
          </div>
        </div>
      </div>

      <!-- payment rejected alert -->
    <div *ngIf="showAlert" class="reset--alert">
      <div class="reset--alert-content">
        <header>
          <img src="../../../../assets/ui/icon-error-red.png" />
          <p>Tarjeta no agregada</p>
        </header>
        <ion-text>Tu tarheta no pudo ser agregada. intenta de nuevo.</ion-text>
        <div>
          <ion-button fill="solid" expand="full" shape="round" mode="ios" (click)="onCloseAlert()">OK</ion-button>
        </div>
      </div>
    </div>

  </div>
</ion-content>
