<ion-content>
  <div class="report">

    <div class="report--icon">
      <img src="../../../../assets/ui/icon-check-green.png" />
    </div>

    <div class="report--text">
      <h3>¡Reporte exitoso!</h3>
      <div>
        <span>·</span>
        <p>Permanecer en el lugar del siniestro.</p>
      </div>
      <div>
        <span>·</span>
        <p>Preparar tu tarjeta de circulación y tu licencia de conducir.</p>
      </div>
      <div>
        <span>·</span>
        <p>Tu número de póliza es 170-131-1-0</p>
      </div>
    </div>

    <div class="report--button">
      <ion-button routerLink="/confirm-location" routerDirection="forward" color="primary" expand="full" shape="round" mode="ios">Confirmar ubicación</ion-button>
    </div>

  </div>
</ion-content>
