<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/sxkm" routerDirection="back"></ion-icon>
    <p>Términos y condiciones</p>
  </div>
</ion-header>

<ion-content>
  <div class="text--content link-pdf">
    <h1>Términos y condiciones</h1>
    <h5>SEGURO POR KILÓMETRO</h5>
    <h6>1. DEFINICIONES</h6>
    <p>
      En este documento, las palabras con mayúscula inicial, tienen un significado especial según la definición que se
      señala a continuación:
    </p>
    <p>
      <b style="display: block;">Abuso de Confianza</b>
      Cuando se dispone indebidamente (para sí o para otro) del Vehículo o se niegue sin justificación a entregarlo,
      habiéndolo recibido por su dueño o por alguien con derecho de dominio sobre dicho Vehículo.
      Para la cobertura de robo de Documentos Oficiales, significa la disposición indebida (para sí o para otro) de los
      documentos o se niegue sin justificación a entregarlos, habiéndolo recibido por su dueño o por alguien con
      derecho de dominio sobre dichos documentos...
      </p>
      <!-- <a href="/assets/pdf/condiciones_seguro_por_kilometro..pdf" download>Descargar PDF</a> -->
      <div>
          <a  href="https://sxkm-privacy.s3-us-west-2.amazonaws.com/condiciones_seguro_por_kilometro.pdf" target="_blank">
            <span>Descargar PDF</span>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>
        </div>
  </div>
</ion-content>