<ion-header mode="ios">
  <div class="header--page">
    <a routerLink="/tabs/tabs/welcome" routerDirection="back">
      <ion-icon name="close"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content>

  <div class="profile--header">
    <div class="profile--avatar">
      <div class="profile--avatar-img">
        <img src="{{user?.avatar_img}}" />
      </div>
      <label class="profile--upload">
        <input
        mode="ios"
        fill="clear"
        shape="round"
        color="dark"
        size="small"
        type="file" 
        accept="image/png, image/jpeg" 
        (change)="onAddAvatar($event)"/>
        <div>
          <ion-icon name="ios-camera"></ion-icon>
        </div>
      </label>
    </div>
  </div>
  
  <div class="profile--content">
     
    <a (click)="profileEdit()">EDITAR</a>
    <div class="profile--field">
      <b>Nombre(s)</b>
      <div>
        <p>{{ user?.name}}</p>
      </div>
    </div>

    <div class="profile--field">
      <b>Apellido paterno</b>
      <div>
        <p>{{ user?.lastname_one }}</p>
      </div>
    </div>

    <div class="profile--field">
      <b>Apellido materno</b>
      <div>
        <p>{{ user?.lastname_two }}</p>
      </div>
    </div>

    <div class="profile--field">
      <b>Teléfono</b>
      <div>
        <p>{{ user?.cellphone}}</p>
      </div>
    </div>

    <div class="profile--field">
      <b>Correo electrónico</b>
      <div>
        <p>{{ user?.email }}</p>
      </div>
    </div>

  </div>

</ion-content>
