<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/credentials" routerDirection="back"></ion-icon>
    <p>Editar NIP</p>
  </div>
</ion-header>

<ion-content>

  <div class="form--container">

    <form #nip="ngForm" (ngSubmit)="onSubmit(nip)" class="form--clean">

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">NIP actual</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="currentNip" ngModel minlength="4" required #currentNip="ngModel"></ion-input>
          <ion-icon [name]="!this.showPassword ? 'md-eye' : 'md-eye-off'" (click)="passwordVisibility()">
          </ion-icon>
        </ion-item>
      </div>

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Nuevo NIP</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newNip" ngModel minlength="4" required #newNip="ngModel"></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Confirmar nuevo NIP</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newNipConfirm" ngModel minlength="4" required #newNipConfirm="ngModel"></ion-input>
        </ion-item>
      </div>

      <div>
        <!-- <ion-button *ngIf="!currentNip.valid || !newNip.valid || !newNipConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
          disabled>Siguiente</ion-button>
        <ion-button *ngIf="currentNip.valid && newNip.valid && newNipConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
         type="submit">Siguiente</ion-button> -->
         <ion-button *ngIf="!currentNip.valid || !newNip.valid || !newNipConfirm.valid || newNip.value != newNipConfirm.value" fill="solid" expand="full" shape="round" mode="ios"
          disabled>Siguiente</ion-button>
        <ion-button *ngIf="currentNip.valid && newNip.valid && newNipConfirm.valid && newNip.value == newNipConfirm.value" fill="solid" expand="full" shape="round" mode="ios"
         type="submit">Siguiente</ion-button>
      </div>

      <!-- <div class="form--validation" *ngIf="currentNip.touched && !currentNip.valid">
        <ion-text>Mensaje de validación correspondiente</ion-text>
      </div> -->

    </form>

  </div>

</ion-content>
