// floating action
ion-fab {
  bottom: 4rem;
  right: 16px;
}
ion-fab-button {
  background-color: transparent !important;
  --box-shadow: none !important;
  img { box-shadow: var(--ion-box-shadow); }
}

ion-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--ion-color-secondary);
}

ion-tab-bar {
  --background: var(--ion-color-secondary);
  --color: white;
}
ion-tab-button {
  --color-selected: rgba( 255,255,255, 0.2);
  transition: all 0.3s linear;
}

.header {

  &--avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 99px;
    border: 1px solid white;
    overflow: hidden;
    img { width: 100%; }
  }

  &--selector {
    a { color: white; }
    ion-icon {
      margin-left: 8px;
      vertical-align: bottom;
    }
  }

  &--status {
    width: 2rem;
    height: 2rem;
    border-radius: 99px;
    // border: 1px solid white;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

}