// floating action
ion-fab {
  bottom: 10vh;
  right: 16px;
  font-family: var(--ion-font-headline);
  font-weight: 600;
}

ion-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}