<ion-header mode="ios">
  <!-- menu toggle -->
  <ion-menu-toggle auto-hide="false">
    <div class="header--avatar">
      <img src="../../assets/demo/avatar.jpg" />
    </div>
  </ion-menu-toggle>

  <!-- car selector -->
  <div class="header--selector">
    <a>
      <span (click)="onClickSelector()">Mini Cooper</span>
      <ion-icon name="ios-arrow-down"></ion-icon>
    </a>
  </div>

  <!-- car status -->
  <div class="header--status">
    <img src="../../assets/demo/circle.png" />
  </div>

</ion-header>

<ion-content>
  <!-- floating action -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="transparent" mode="ios">
      <img src="../../assets/ui/SOS.png" />
    </ion-fab-button>
  </ion-fab>
  <!-- tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom" mode="ios">
      <ion-tab-button tab="welcome">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>General</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="trips">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Viajes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="habits">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Hábitos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="rewards">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Rewards</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="policy">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Póliza</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- - -->
</ion-content>
