  <ion-header mode="ios">
  <!-- menu toggle -->
  <ion-menu-toggle auto-hide="false">
    <div class="header--tabs">
      <div class="header--avatar">
        <img src="../../assets/demo/avatar.jpg" />
      </div>
      <span class="header--notification">6</span>
    </div>
  </ion-menu-toggle>

  <!-- car selector -->
  <div class="header--selector">
    <a>
      <!-- <span (click)="onClickSelector()">Mini Cooper</span>
      <ion-icon name="ios-arrow-down"></ion-icon> -->

      <ion-select placeholder="Seleccciona un auto" cancelText="Cerrar" interface="action-sheet"
        [(ngModel)]="car_select" (ionChange)="changeCar()">
        <ion-select-option *ngFor="let car of cars" [value]="car">{{car?.car.details.maker_name}}
          {{car?.car.details.description}}</ion-select-option>
      </ion-select>

    </a>
  </div>

  <!-- car status -->
  <div class="header--status" routerLink="/status">
    <!-- insertar componente de status -->
    <!-- <status-pia></status-pia> -->
    <video autoplay muted loop>
      <source src="../../../assets/demo/status-tabs-ok.mp4" type="video/mp4">
    </video>
  </div>

</ion-header>

<ion-content>

<!-- floating action -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="transparent" mode="ios" (click)="onClickSos()">
      <img src="../../assets/ui/SOS.png" />
    </ion-fab-button>
  </ion-fab>

  <!-- tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom" mode="ios">

      <ion-tab-button tab="welcome">
        <img src="../../assets/ui/tabs-auto.png" />
        <ion-label>Mi Auto</ion-label>
      </ion-tab-button>

      <ion-tab-button [disabled]="disabled" tab="trips">
        <img src="../../assets/ui/tabs-viajes.png" />
        <ion-label>Viajes</ion-label>
      </ion-tab-button>

      <ion-tab-button [disabled]="disabled" tab="habits">
        <img src="../../assets/ui/tabs-habitos.png" />
        <ion-label>Hábitos</ion-label>
      </ion-tab-button>

      <ion-tab-button [disabled]="disabled" tab="rewards">
        <img src="../../assets/ui/tabs-rewards.png" />
        <ion-label>Rewards</ion-label>
      </ion-tab-button>

      <ion-tab-button [disabled]="disabled" tab="policy">
        <img src="../../assets/ui/tabs-poliza.png" />
        <ion-label>Póliza</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  <!-- - -->
</ion-content>
