<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" (click)="onCancel()" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
  </div>
</ion-header>

<ion-content>
    <div class="nip--container">

      <div class="nip--header">
        <div class="nip--dismiss">
          <a>DESPUÉS</a>
        </div>
        <div class="nip--icon">
          <div>
            <img src="../../../../assets/ui/icon-lock-with_background.png" />
          </div>
          <p>Crea tu NIP para proteger tus viajes</p>
        </div>
      </div>

      <div class="nip--form">
        <div>
          <ion-item mode="ios">
            <ion-label position="floating" mode="ios">NIP</ion-label>
            <ion-input type="password" name="nip" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item mode="ios">
            <ion-label position="floating" mode="ios">Confirmar NIP</ion-label>
            <ion-input type="password" name="nip" required></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-button fill="solid" expand="full" shape="round" mode="ios">Crear</ion-button>
        </div>
      </div>

    </div>
  </ion-content>
