<ion-header mode="ios">
  <div class="header--page" [style.backgroundColor]="uiColor">
    <a (click)="goBack()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content>

  <ion-segment mode="md" [style.backgroundColor]="uiColor">
    <ion-segment-button [checked]="check" *ngFor="let level of levels" value="level.level" mode="md" (click)="changeLevel(level)">
      {{level.level}}
    </ion-segment-button>
    <!-- <ion-segment-button checked value="Guerrero" mode="md" (click)="uiYellow()">
      Guerrero
    </ion-segment-button>
    <ion-segment-button value="Rockstar" mode="md" (click)="uiGreen()">
      Rockstar
    </ion-segment-button>
    <ion-segment-button value="Leyenda" mode="md" (click)="uiBlue()">
      Leyenda
    </ion-segment-button> -->
  </ion-segment>

  <div class="levels--segment_overflow" [style.backgroundColor]="uiColor"></div>

  <div class="levels--header">
    <img *ngIf="current_level?.level == 'Novato'" src="../../../assets/ui/levels/Novato_On.svg" />
    <img *ngIf="current_level?.level == 'Guerrero'" src="../../../assets/ui/levels/Piloto_On.svg" />
    <img *ngIf="current_level?.level == 'Rockstar'" src="../../../assets/ui/levels/Conductor_On.svg" />
    <img *ngIf="current_level?.level == 'Leyenda'" src="../../../assets/ui/levels/Veterano_On.svg" />
    <b [style.color]="uiColor">{{current_level?.level}}</b>
    <p>{{current_level?.init}} - {{current_level?.end}} Puntos</p>
  </div>

  <div class="levels--benefits">

    <div *ngFor="let benefits of current_level?.benefits">
      <div>
        <span [style.backgroundColor]="uiColor"></span>
      </div>
      <div>
        <b>{{benefits?.title}}</b>
        <p>{{benefits?.description}}</p>
      </div>
    </div>

    <!-- <div>
      <div>
        <span [style.backgroundColor]="uiColor"></span>
      </div>
      <div>
        <b>0% deducible</b>
        <p>En caso de robo</p>
      </div>
    </div>

    <div>
      <div>
        <span [style.backgroundColor]="uiColor"></span>
      </div>
      <div>
        <b>Acelerador de pérdida total</b>
        <p>50% en lugar del típico 70%</p>
      </div>
    </div>

    <div>
      <div>
        <span [style.backgroundColor]="uiColor"></span>
      </div>
      <div>
        <b>Acelerador de pérdida total</b>
        <p>50% en lugar del típico 70%</p>
      </div>
    </div> -->

  </div>

</ion-content>
