<ion-header mode="ios">
  <div class="header--page">
    <a routerLink="/status" routerDirection="back" (click)="onCancel()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content padding>

  <h2>Descripción de falla(s)</h2>

  <div class="container-dtcs">
    <div class="dtcs--dtc_details" *ngFor="let dtc of dtcs">
      <div class="dtcs--dtc_details-info">
        <p><b>Code: </b><b>{{dtc.code}}</b></p>
        <p><b>Error: </b><b>{{dtc.message.system}}</b></p>
      </div>
    </div>
  </div>

  <div class="dtcs--status-image" padding>
    <ion-img src={{urlImage}}></ion-img>
  </div>

</ion-content>