<ion-header class="page--header" mode="ios">
  <ion-back-button mode="ios" icon="ios-arrow-back" text="" (click)="onCancel()" defaultHref="/tabs/tabs/auto">
  </ion-back-button>
</ion-header>

<ion-content padding class="sos">

  <h2>Descripción de falla(s)</h2>

  <div class="container-dtcs">
    <div class="dtcs--dtc_details" *ngFor="let dtc of dtcs">
      <div class="dtcs--dtc_details-info">
        <p><b>Code: </b><b>{{dtc.code}}</b></p>
        <p><b>Error: </b><b>{{dtc.message.system}}</b></p>
      </div>
    </div>
  </div>

  <div class="dtcs--status-image" padding>
    <ion-img src={{urlImage}}></ion-img>
    <!-- <ion-img src="/assets/ui/indicadores/sistema_electrico.png" *ngIf="validateCode([0])"></ion-img>
    <ion-img src="/assets/ui/indicadores/combustible.png" *ngIf="validateCode([1])"></ion-img>
    <ion-img src="/assets/ui/indicadores/inyectores.png" *ngIf="validateCode([2])"></ion-img>
    <ion-img src="/assets/ui/indicadores/sistema_encendido.png" *ngIf="validateCode([3])"></ion-img>
    <ion-img src="/assets/ui/indicadores/control_emisiones.png" *ngIf="validateCode([4])"></ion-img>
    <ion-img src="/assets/ui/indicadores/control_velocidad.png" *ngIf="validateCode([5])"></ion-img>
    <ion-img src="/assets/ui/indicadores/ecu.png" *ngIf="validateCode([6])"></ion-img>
    <ion-img src="/assets/ui/indicadores/transmision.png" *ngIf="validateCode([7,8,9])"></ion-img> -->
  </div>

</ion-content>