.form {

  &--simple {
    width: 100%;
    padding: 20vh 1rem 1rem 1rem;
    div {
      margin: 0.5rem 0;
      text-align: center;
    }
    ion-item {
      position: relative;
      margin-bottom: 1rem;
      --padding-start: 0;
    }
    ion-text {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    ion-button {
      margin: 1rem 0;
      color: white;
    }
    ion-icon {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      padding: 0 0.5rem;
      z-index: 9;
    }
  }

  &--disabled {
    width: 100%;
    padding: 1rem;
    ion-item { --padding-start: 0; }
    &-selector {
      width: 100%;
      b {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: var(--ion-color-dark);
        // opacity: 0.8;
        margin: 1rem 0 0.5rem 0;
      }
      a {
        width: 100%;
        padding: 0.5rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        color: var(--ion-color-dark);
        border-bottom: 1px solid var(--ion-color-medium);
        ion-icon { font-size: 1.2rem; }
        div {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          ion-icon { margin-right: 8px; }
        }
      }
    }
  }

}