.header {

  &--simple {
    position: relative;
    padding: 0.5rem;
    background-color: white;
    text-align: center;
    ion-button {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    p {
      margin: 0;
      padding: 0.5rem;
      font-family: var(--ion-font-headline);
      font-weight: 700;
    }
  }

}