// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2ec23b;
  --ion-color-primary-rgb: 46,194,59;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 17,17,17;
  --ion-color-primary-shade: #28ab34;
  --ion-color-primary-tint: #43c84f;

  --ion-color-secondary: #023B48;
  --ion-color-secondary-rgb: 2,59,72;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #02343f;
  --ion-color-secondary-tint: #1b4f5a;

  --ion-color-tertiary: #FF6F00;
  --ion-color-tertiary-rgb: 255,111,0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e06200;
  --ion-color-tertiary-tint: #ff7d1a;

  --ion-color-success: #2ec23b;
  --ion-color-success-rgb: 46,194,59;
  --ion-color-success-contrast: #111111;
  --ion-color-success-contrast-rgb: 17,17,17;
  --ion-color-success-shade: #28ab34;
  --ion-color-success-tint: #43c84f;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  --ion-color-dark: #222222;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;

  --ion-color-medium: #aaaaaa;
  --ion-color-medium-rgb: 170,170,170;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #969696;
  --ion-color-medium-tint: #b3b3b3;

  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #ffffff;
  --ion-color-white-tint: #ffffff;

  --ion-color-sky: #0cc1f9;
  --ion-color-sky-rgb: 12,193,249;
  --ion-color-sky-contrast: #ffffff;
  --ion-color-sky-contrast-rgb: 255,255,255;
  --ion-color-sky-shade: #0cc1f9;
  --ion-color-sky-tint: #DAF2FC;

  --ion-color-blue: #5387d1;
  --ion-color-blue-rgb: 83,135,209;
  --ion-color-blue-contrast: #ffffff;
  --ion-color-blue-contrast-rgb: 255,255,255;
  --ion-color-blue-shade: #5387d1;
  --ion-color-blue-tint: #E6F0FD;

  --ion-color-yellow: #ffbb01;
  --ion-color-yellow-rgb: 255,187,1;
  --ion-color-yellow-contrast: #1e1e1e;
  --ion-color-yellow-contrast-rgb: 30,30,30;
  --ion-color-yellow-shade: #ffbb01;
  --ion-color-yellow-tint: #FFEFC3;

  --ion-color-green: #2ec23b;
  --ion-color-green-rgb: 46,194,59;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255,255,255;
  --ion-color-green-shade: #2ec23b;
  --ion-color-green-tint: #E6FDE8;

  --ion-color-red: #dd5567;
  --ion-color-red-rgb: 221,85,103;
  --ion-color-red-contrast: #ffffff;
  --ion-color-red-contrast-rgb: 255,255,255;
  --ion-color-red-shade: #dd5567;
  --ion-color-red-tint: #fcebed;

  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: 0,0,0,0;
  --ion-color-transparent-contrast: transparent;
  --ion-color-transparent-contrast-rgb: 0,0,0,0;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;

  --ion-font-body: 'Roboto', sans-serif;
  --ion-font-headline: 'Noto Sans', sans-serif;

  --ion-box-shadow: 0 3px 3px 0px var(--ion-color-light-shade);
  --ion-item-shadow: 0 0 6px 0 var(--ion-color-light-shade);

  --ion-radius-card: 4px;

}


// --- Defaults
* { box-sizing: border-box; }
body {
  font-family: var(--ion-font-body);
  font-size: 16px;
  font-weight: 400;
  color: var(--ion-color-dark);
  background-color: white;
}
a {
  display: inline-block;
  text-decoration: none;
}
img { display: block; }

// --- Animation
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(6rem);
  }
  to {
    opacity: 1;
    transform: translateY(-2.6rem);
  }
}
@keyframes slideFromBottom {
  from { transform: translateY(100%); }
  to { transform: translateY(0);  }
}

// -- Ion Overrides
ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

// --- Theme
.tabs {
  &--bg {
    height: 2.6rem;
    background-color: var(--ion-color-secondary);
  }
  &--translate {
    animation: fadeInFromBottom 0.3s ease;
    transform: translateY(-2.6rem);
  }
}
.actionsheet {
  --color: var(--ion-color-green);
  text-align: left !important;
}
.action-sheet-title {
  color: var(--ion-color-medium) !important;
}
.action-sheet-cancel {
  color: var(--ion-color-dark) !important;
}
.padding {
  width: 100%;
  padding: 1rem;
}

// --- Color shorthand
.color {
  &--sky { color: var(--ion-color-sky) !important; }
  &--blue { color: var(--ion-color-blue) !important; }
  &--yellow { color: var(--ion-color-yellow) !important; }
  &--green { color: var(--ion-color-green) !important; }
  &--grey { color: var(--ion-color-medium) !important; }
  &--white { color: white !important; }
  &--secondary { color: var(--ion-color-secondary) !important; }
}
.bg {
  &--sky { background-color: var(--ion-color-sky) !important; }
  &--blue { background-color: var(--ion-color-blue) !important; }
  &--yellow { background-color: var(--ion-color-yellow) !important; }
  &--green { background-color: var(--ion-color-green) !important; }
  &--grey { background-color: var(--ion-color-medium) !important; }
  &--white { background-color: white !important; }
  &--secondary { background-color: var(--ion-color-secondary) !important; }
}
.green-block {
  width: 100%;
  border: 1px solid var(--ion-color-green);
  background-color: var(--ion-color-green-tint);
  border-radius: var(--ion-radius-card);
  box-shadow: var(--ion-box-shadow);
}
.red-block {
  width: 100%;
  border: 1px solid var(--ion-color-red);
  background-color: var(--ion-color-red-tint);
  border-radius: var(--ion-radius-card);
  box-shadow: var(--ion-box-shadow);
}

// --- Components
.simple-block {
  width: 100%;
  position: relative;
  display: inline-block;
  box-shadow: var(--ion-box-shadow);
  border-radius: var(--ion-radius-card);
  margin: 0.5rem 0;
  div {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 2rem;
      height: auto;
      display: inline-block;
      line-height: 0;
      margin-right: 1rem;
    }
    p {
      margin: 0;
      display: inline-block;
      font-family: var(--ion-font-headline);
      font-size: 0.85rem;
      font-weight: 700;
    }
    ion-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.3rem;
      color: var(--ion-color-dark);
    }
  }
}

.half-block {
  width: 48%;
  position: relative;
  display: inline-block;
  box-shadow: var(--ion-box-shadow);
  border-radius: var(--ion-radius-card);
  margin-bottom: 1rem;
  div {
    width: 100%;
    padding: 1rem;
    display: inline-block;
    text-align: center;
    img {
      width: auto;
      height: 2rem;
      display: inline-block;
      line-height: 0;
    }
  }
}

.purchase-block {
  width: 100%;
  border: 1px solid var(--ion-color-green);
  background-color: var(--ion-color-green-tint);
  border-radius: var(--ion-radius-card);
  box-shadow: var(--ion-box-shadow);
  &-content {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
  }
  &-main {
    width: 100%;
    padding: 0 0 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    div {
      font-family: var(--ion-font-headline);
      &:nth-child(1) { text-align: left; }
      &:nth-child(2) { text-align: right; }
      b {
        font-size: 1.1rem;
        margin-bottom: 0.25rem;
      }
      p {
        margin: 0;
        font-size: 0.85rem;
        font-weight: 500;
        color: var(--ion-color-medium-shade);
      }
    }
  }
  &-method {
    width: 100%;
    border-top: 1px solid var(--ion-color-light-shade);
    padding: 1rem 0;
    div {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 2rem;
        height: auto;
        display: inline-block;
        line-height: 0;
        margin-right: 1rem;
      }
      p {
        margin: 0;
        display: inline-block;
        font-family: var(--ion-font-headline);
        font-size: 0.85rem;
        font-weight: 700;
      }
      ion-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.3rem;
        color: var(--ion-color-dark);
      }
    }
  }
  &-cash {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    border-top: 1px solid var(--ion-color-light-shade);
    img {
      height: 3rem;
      width: auto;
      display: inline-block;
    }
  }
  &-checkbox {
    width: auto;
    margin: 1rem 0;
    font-family: var(--ion-font-headline);
    font-size: 0.85rem;
    color: var(--ion-color-medium-shade);
    ion-icon {
      margin-right: 6px;
      font-size: 2rem;
      float: left;
    }
    input {
      display: none;
    }
  }
}


// --- Layouts
.options {
  &--info {
    width: 100%;
    padding: 1rem;
  }
  &--empty {
    p {
      width: 100%;
      text-align: center;
      font-family: var(--ion-font-headline);
      color: var(--ion-color-medium);
    }
  }
  &--list {
    width: 100%;
    display: block;
    padding: 1rem;
  }
  &--add {
    width: 100%;
    margin: 0.5rem 0;
    display: inline-block;
    text-align: center;
    ion-icon {
      margin-right: 4px;
    }
    a {
      width: auto;
      padding: 1rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
