<ion-content>
  <div class="tabs--bg"></div>
  <div class="tabs--translate">

    <div class="welcome--header">
      <div class="welcome--header-content">
        <div class="welcome--header-status">
          <img src="../../../assets/demo/circle-status-ok.svg" />
        </div>
        <div class="welcome--header-label">
          <p class="color--green">Activado</p>
        </div>
      </div>
    </div>

    <div class="welcome--widgets">

      <!-- Alert widget -->
      <div class="widget--alert">
        <div class="widget--alert-content">
          <div>
            <b>FALLA ENCONTRADA</b>
            <p>Sistema de encendido</p>
          </div>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
      </div>

      <!-- Help widget -->
      <div class="widget--help">
        <div (click)="onClickHelpWidget()" class="widget--help-content">
          <div class="widget--help-time">
            <p>26</p>
            <p>MIN</p>
          </div>
          <div class="widget--help-call">
            <div>
              <b>Tu ajustador</b>
              <p>Carlos Duran</p>
            </div>
            <a href="tel:5544332211">
              <ion-icon name="md-call"></ion-icon>
            </a>
          </div>
        </div>
      </div>

      <!-- Availability widget -->
      <div class="widget widget--available">
        <div class="widget--available-header">
          <div>
            <p>Disponibles</p>
            <b>232 km</b>
          </div>
          <a>
            <span>Recargar</span>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>
        </div>
        <div class="widget--available-indicator">
          <span style="width: 33%;"></span>
        </div>
        <div class="widget--available-footer">
          <b>Recorrido</b>
          <b>786 km</b>
        </div>
      </div>

      <!-- Subscription widget -->
      <div class="widget widget--subscribe">
        <div>
          <b>Suscripción</b>
          <a>
            <span>Renovar</span>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>
        </div>
        <p>Vigencia 76 días - 28/08/19</p>
      </div>

      <!-- LevelUp widget -->
      <div class="widget widget--level">
        <a routerLink="/tabs/tabs/rewards">
          <div>
            <img src="../../../assets/demo/level-icon.png" />
            <span>Subiste a nivel Guerrero</span>
          </div>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </div>

    </div>

  </div>
</ion-content>
