<ion-content>
  <div class="tabs--bg white"></div>
  <div class="tabs--translate">

    <div class="welcome--header">
      <div class="welcome--header-content">
        <div class="welcome--header-status" routerLink="/status">
          <!-- insertar componente de status -->
          <div class="pia-component">
            <canvas class="canvas" #canvas width="200" height="200"></canvas>
          </div>
        </div>
        <!-- <video autoplay muted loop>
            <source src="../../../assets/demo/status-widget-ok.mp4" type="video/mp4">
          </video> -->
        <!-- -->
        <!-- <div class="welcome--header-label">
          <p class="color--green">Activado</p>
        </div> -->
      </div>
    </div>

    <div class="welcome--widgets">

      <!-- Recharge widget -->
      <div class="widget widget--recharge">
        <div class="widget--recharge-header">
          <div>
            <p>Disponibles</p>
            <b>{{kms_status?.km_left}} km</b>
          </div>
          <a *ngIf="disabled != true" (click)="Recharge()">
            <span>Recargar</span>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>
        </div>
        <div class="widget--recharge-indicator">
          <span [style.width]="kms_porcent"></span>
        </div>
        <div class="widget--recharge-footer">
          <b>Recorrido</b>
          <b>{{kms_status?.used_km}} km</b>
        </div>
      </div>

      <!-- Subscription widget -->
      <div class="widget widget--subscribe">
        <div>
          <b>Suscripción</b>
          <a (click)="paySubscription()">
            <span>Renovar</span>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </a>
        </div>
        <p>{{dueDate?.data | date: 'dd/MM/yyyy'}}</p>
      </div>

      <!-- Alert widget -->
      <div *ngFor="let notification of list_notifications" class="{{notification.status}}">
        <ion-item-sliding>
          <ion-item class="content" routerLink="{{notification.path}}">
            <b>{{ notification.title }}</b>
            <p>{{ notification.body }}</p>
          </ion-item>

          <ion-item-options side="left">
            <button ion-button color="danger" (click)="deleteNotification(item)">
              Eliminar
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="warning" (click)="changeStatus(item)">
              Desactivar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>

      <!-- Green widget - Payment reference -->
      <!-- <div class="widget--green">
        <div class="widget--green-content" routerLink="/purchase-reference">
          <div class="widget--green-time">
            <img src="../../../assets/ui/icon-kms.png" />
            <p>250 Km</p>
          </div>
          <div class="widget--green-info">
            <div>
              <b>Vigencia - 09/09/2019</b>
              <p>Referencia de pago</p>
            </div>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </div>
        </div>
      </div> -->


      <!-- LevelUp widget -->
      <!-- <div class="widget widget--level">
        <a routerLink="/tabs/tabs/rewards">
          <div>
            <img src="../../../assets/demo/level-icon.png" />
            <span>Subiste a nivel Guerrero</span>
          </div>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </div> -->

      <!-- Green widget - Help -->
      <!-- <div class="widget--green">
        <div class="widget--green-content" (click)="onClickHelpWidget()">
          <div class="widget--green-time">
            <p>26</p>
            <p>MIN</p>
          </div>
          <div class="widget--green-info">
            <div>
              <b>Tu ajustador</b>
              <p>Carlos Duran</p>
            </div>
            <a href="tel:5544332211">
              <ion-icon name="md-call"></ion-icon>
            </a>
          </div>
        </div>
      </div> -->

    </div>

  </div>
</ion-content>