<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/address" routerDirection="back"></ion-icon>
    <p>Editar domicilio</p>
  </div>
</ion-header>

<ion-content>
  <form #address="ngForm" (ngSubmit)="onSubmit(address)" class="form--clean">

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Calle</ion-label>
        <ion-input type="text" name="street" ngModel required #street="ngModel" placeholder="Oaxaca">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Número exterior</ion-label>
        <ion-input type="text" name="numberExt" ngModel required #numberExt="ngModel" placeholder="284">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Número interior</ion-label>
        <ion-input type="text" name="numberInt" ngModel required #numberInt="ngModel" placeholder="8">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Código postal</ion-label>
        <ion-input type="text" name="zipCode" ngModel required #zipCode="ngModel" placeholder="03400">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Colonia</ion-label>
        <ion-input type="text" name="suburb" ngModel required #suburb="ngModel" placeholder="San Ramón">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Municipio/Delegación</ion-label>
        <ion-input type="text" name="city" ngModel required #city="ngModel" placeholder="Benito Juárez">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">Estado</ion-label>
        <ion-input type="text" name="state" ngModel required #state="ngModel" placeholder="CDMX">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item mode="ios">
        <ion-label position="floating" mode="ios">País</ion-label>
        <ion-input type="text" name="country" ngModel required #country="ngModel" placeholder="México">
        </ion-input>
      </ion-item>
    </div>

    <div>
      <ion-button *ngIf="!country.valid" fill="solid" expand="full" shape="round" mode="ios" disabled>Guardar</ion-button>
      <ion-button *ngIf="country.valid" fill="solid" expand="full" shape="round" mode="ios" routerLink="/address">Guardar</ion-button>
    </div>

    <div class="form--validation" *ngIf="street.touched && !street.valid">
      <ion-text>Mensaje de validación correspondiente</ion-text>
    </div>

  </form>
</ion-content>
