<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/" routerDirection="back"></ion-icon>
    <p>Inicia sesión</p>
  </div>
</ion-header>


<ion-content>

  <div class="form--container login">

    <form #login="ngForm" (ngSubmit)="onSubmit(login)" class="form--simple">
      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Correo electrónico</ion-label>
          <ion-input type="email" name="email" ngModel email required #email="ngModel">
          </ion-input>
        </ion-item>
      </div>
      <div class="form--validation" *ngIf="email.touched && !email.valid">
        <ion-text>Por favor verifica tu correo</ion-text>
      </div>
      <div>
        <ion-button *ngIf="!email.valid" type="button" fill="solid" expand="full" shape="round" mode="ios" disabled>Siguiente</ion-button>
        <ion-button *ngIf="email.valid" type="submit" fill="solid" expand="full" shape="round" mode="ios">Siguiente</ion-button>
      </div>
    </form>

  </div>

</ion-content>
