<ion-app>
  <ion-menu side="start" type="overlay" translucent>
    <ion-content>

      <div class="menu--header">
        <div>
          <img src="../assets/demo/avatar.jpg" />
        </div>
        <p>Jennifer López</p>
      </div>

      <ion-list class="menu--list">
        <ion-menu-toggle>

          <ion-item lines="none" class="menu--item" routerLink="/profile">
            <img src="../assets/ui/menu-user.png" />
            <ion-label>Información Personal</ion-label>
          </ion-item>

          <ion-item lines="none" class="menu--item" routerLink="/address">
            <img src="../assets/ui/menu-home.png" />
            <ion-label>Domicilio</ion-label>
          </ion-item>

          <ion-item lines="none" class="menu--item" routerLink="/cards">
            <img src="../assets/ui/purchase-card.png" />
            <ion-label>Métodos de pago</ion-label>
          </ion-item>

          <ion-item lines="none" class="menu--item" routerLink="/orders">
            <img src="../assets/ui/purchase-money.png" />
            <ion-label>Historial de pagos</ion-label>
          </ion-item>

          <ion-item lines="none" class="menu--item" routerLink="/credentials">
            <img src="../assets/ui/menu-lock.png" />
            <ion-label>Seguridad</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>

      <ion-list class="menu--list bottom">
        <ion-menu-toggle>

          <ion-item class="menu--item" routerLink="/sxkm">
            <img src="../assets/ui/menu-info.png" />
            <ion-label>SXKM V.2</ion-label>
          </ion-item>

          <ion-item lines="none" class="menu--item" routerLink="/" routerDirection="back">
            <img src="../assets/ui/menu-logout.png" />
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
