<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/credentials" routerDirection="back"></ion-icon>
    <p>Editar Contraseña</p>
  </div>
</ion-header>

<ion-content>

  <div class="form--container">

    <form #password="ngForm" (ngSubmit)="onSubmit(password)" class="form--clean">

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Contraseña actual</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="currentPassword" ngModel minlength="4" required #currentPassword="ngModel"></ion-input>
          <ion-icon [name]="!this.showPassword ? 'md-eye' : 'md-eye-off'" (click)="passwordVisibility()">
          </ion-icon>
        </ion-item>
      </div>

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Nueva contraseña</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newPassword" ngModel minlength="4" required #newPassword="ngModel"></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Confirmar nueva contraseña</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newPasswordConfirm" ngModel minlength="4" required #newPasswordConfirm="ngModel"></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-button *ngIf="!currentPassword.valid || !newPassword.valid || !newPasswordConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
          disabled>Siguiente</ion-button>
        <ion-button *ngIf="currentPassword.valid && newPassword.valid && newPasswordConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
        type="submit">Siguiente</ion-button>
      </div>

      <!-- <div class="form--validation" *ngIf="currentPassword.touched && !currentPassword.valid">
        <ion-text>Mensaje de validación correspondiente</ion-text>
      </div> -->

    </form>

  </div>

</ion-content>
