<ion-header mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Confirma tu pago</ion-title>
    </ion-toolbar>
  <!-- <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/purchase-options" routerDirection="back"></ion-icon>
    <p>Confirma tu pago</p>
  </div> -->
</ion-header>

<ion-content>
  <div class="add--card">
    <form class="add--form">

      <div class="add--full">

        <div class="purchase-block">
          <div class="purchase-block-content">
            <div class="purchase-block-main" *ngIf="params?.type_payment == 'acquisition'">
              <div>
                <b class="color--green">{{params.package.package}} km</b>
                <p>{{params.package.vigency}} {{params.package.vigency==1?'mes':'meses'}} de vigencia</p>
              </div>
              <div>
                <b>{{params.package.cost_by_package | currency}}</b>
                <p>{{params.package.cost_by_km | currency }} / km</p>
              </div>
            </div>
            <div class="purchase-block-main" *ngIf="params?.type_payment == 'membership'">
              <div>
                <b class="color--green">Suscripción</b>
                <p>1 mes</p>
              </div>
              <div>
                <b>$299</b>
              </div>
            </div>
            <div class="purchase-block-method" *ngIf="params?.pay_method == 'Card'">
              <div>
                <img *ngIf="params.card.brand == 'mastercard'" src="../../../assets/payment/card-master.png" />
                <img *ngIf="params.card.brand == 'visa'" src="../../../assets/payment/card-visa.png" />
                <img *ngIf="params.card.brand == 'american_express'" src="../../../assets/payment/card-amex.png" />
                <p>{{params.card.card_number}}</p>
              </div>
            </div>
            <div class="purchase-block-content" *ngIf="params?.pay_method == 'Cash'">
              <div class="purchase-block-method">
                <div>
                  <img src="../../../assets/payment/cash-icon.svg" />
                  <p>Efectivo</p>
                </div>
              </div>
              <div class="purchase-block-cash">
                <img src="{{params.store.image}}" />
              </div>
            </div>
            <div class="purchase-block-method" *ngIf="params?.pay_method == 'Spei'">
              <div>
                <img src="../../../assets/payment/spei.png" />
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="purchase-block" *ngIf="params.type_payment == 'recharge'">
          <div class="purchase-block-content">
            <div class="purchase-block-method">
              <div>
                <img src="../../../assets/payment/cash-icon.svg" />
                <p>Efectivo</p>
              </div>
            </div>
            <div class="purchase-block-cash">
              <img src="../../../assets/payment/7eleven.png" />
            </div>
          </div>
        </div> -->

        <!-- <div class="purchase-block-checkbox" *ngIf="params?.type_payment == 'membership' && params?.pay_method == 'Card'">
          <label>
            <input type="checkbox" />
            <ion-icon [name]="iconCheck" click)="onAutoRenew()"></ion-icon>
            <b>Leyenda de renovación correspondiente al paquete seleccionado</b>
          </label>
        </div> -->

        <div class="add--options">
          <div class="add--checkbox">
            <label >
              <input type="checkbox" />
              <ion-icon [name]="iconCheck" (click)="onAutoRenew()"></ion-icon>
              <b>Pago recurrente</b>
            </label>
          </div>
          <!-- <a routerLink="/nip-reset">RECUPERAR NIP</a> -->
        </div>

      </div>

      <div class="add--button add--full">
        <ion-button *ngIf="params?.type_payment == 'membership'" color="primary" shape="round" fill="solid" (click)="payment(params?.pay_method, params?.type_payment)">Pagar</ion-button>
        <ion-button *ngIf="params?.type_payment == 'acquisition'" color="primary" shape="round" fill="solid" (click)="payment(params?.pay_method, params?.type_payment)">Recargar Kilometros</ion-button>
      </div>

    </form>

    <!-- payment rejected alert -->
    <div *ngIf="showAlert" class="reset--alert">
      <div class="reset--alert-content">
        <header>
          <img src="../../../../assets/ui/icon-error-red.png" />
          <p>Pago rechazado</p>
        </header>
        <ion-text>Tu transacción no pudo ser procesada. intenta de nuevo.</ion-text>
        <div>
          <ion-button fill="solid" expand="full" shape="round" mode="ios" (click)="onCloseAlert()">OK</ion-button>
        </div>
      </div>
    </div>

  </div>
</ion-content>
