
.options {

  &--empty {
    p {
      width: 100%;
      text-align: center;
      font-family: var(--ion-font-headline);
      color: var(--ion-color-medium);
    } 
  }

  &--list {
    width: 100%;
    display: block;
    padding: 1rem;
  }

  &--add {
    width: 100%;
    margin: 0.5rem 0;
    display: inline-block;
    text-align: center;
    ion-icon {
      margin-right: 4px;
    }
    a {
      width: auto;
      padding: 1rem;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
  }

}