<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>¿Comó prefieres pagar?</ion-title>
  </ion-toolbar>
  <!-- <div class="header--clean">
    <ion-icon name="close" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
    <p>¿Como prefieres pagar?</p>
  </div> -->
</ion-header>

<ion-content>

  <!-- recharge -->
  <div class="options--info">
    <div *ngIf="params.type_payment == 'recharge'" class="purchase-block">
      <div class="purchase-block-content">
          <div class="purchase-block-main">
            <div>
              <b class="color--green">5,000 km</b>
              <p>6 meses de vigencia</p>
            </div>
            <div>
              <b>$490</b>
              <p>$0.49 / km</p>
            </div>
          </div>
      </div>
    </div>

    <div *ngIf="params.type_payment == 'membership'" class="purchase-block">
      <div class="purchase-block-content">
          <div class="purchase-block-main">
            <div>
              <b class="color--green">Suscripción</b>
              <p>1 mes</p>
            </div>
            <div>
              <b>$299</b>
            </div>
          </div>
      </div>
    </div>

  </div>

  <div class="options--empty">
    <p>No tienes tarjetas registradas</p>
  </div>

  <div class="options--list">

    <div class="simple-block" *ngFor="let card of cards" (click)="paymentCard('card', card)">
      <div>
        <img *ngIf="card.brand == 'mastercard'" src="../../../assets/payment/card-master.png" />
        <img *ngIf="card.brand == 'visa'" src="../../../assets/payment/card-visa.png" />
        <img *ngIf="card.brand == 'american_express'" src="../../../assets/payment/card-amex.png" />
        <p>{{card.card_number}}</p>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div>

    <!-- <div class="simple-block" routerLink="/purchase-confirm">
      <div>
        <img src="../../../assets/payment/card-amex.png" />
        <p>American Express ***9283</p>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div>

    <div class="simple-block" routerLink="/purchase-confirm">
      <div>
        <img src="../../../assets/payment/card-visa.png" />
        <p>Santander ***1243</p>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div> -->

    <div class="simple-block" (click)="paymentCash('cash')">
      <div>
        <img src="../../../assets/payment/cash-icon.svg" />
        <p>Efectivo</p>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div>

    <div class="simple-block" (click)="paymentSpei('spei')">
      <div>
        <img src="../../../assets/payment/spei.png" />
        <p>Transferencia</p>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </div>

  </div>

  <div class="options--add">
    <a routerLink="/add-payment">
      <ion-icon name="md-add"></ion-icon>
      <span>Agregar tarjeta</span>
    </a>
  </div>

</ion-content>
