<ion-header mode="ios">
    <div class="header--clean">
      <ion-icon name="close" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
      <p>¿Cuantos kilómetros necesitas?</p>
    </div>
  </ion-header>

<ion-content>

    <div class="recharge--content">

      <div class="recharge--block">
          <div class="recharge--block-container" routerLink="/purchase-options/recharge">
            <div class="recharge--block-left">
              <b>250 Km</b>
              <p>1 MES DE VIGENCIA</p>
            </div>
            <div class="recharge--block-right">
              <b>$145</b>
              <p>$0.58 / km</p>
            </div>
          </div>
      </div>
      
      <div class="recharge--block">
          <div class="recharge--block-container" routerLink="/purchase-options/recharge">
            <div class="recharge--block-left">
              <b>250 Km</b>
              <p>1 MES DE VIGENCIA</p>
            </div>
            <div class="recharge--block-right">
              <b>$145</b>
              <p>$0.58 / km</p>
            </div>
          </div>
      </div>

      <div class="recharge--block">
          <div class="recharge--block-container" routerLink="/purchase-options/recharge">
            <div class="recharge--block-left">
              <b>250 Km</b>
              <p>1 MES DE VIGENCIA</p>
            </div>
            <div class="recharge--block-right">
              <b>$145</b>
              <p>$0.58 / km</p>
            </div>
          </div>
      </div>

    </div>

</ion-content>
