<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>¿Cuantos kilómetros necesitas?</ion-title>
  </ion-toolbar>
    <!-- <div class="header--clean">
      <ion-icon name="close" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
      <p>¿Cuantos kilómetros necesitas?</p>
    </div> -->
  </ion-header>

<ion-content>

    <div class="recharge--content">

      <div class="recharge--block" *ngFor="let package of packages" (click)="choosePackage(package)">
          <div class="recharge--block-container">
            <div class="recharge--block-left">
              <b>{{package.package}} Km</b>
              <p>Vigencia de {{package.vigency}} {{package.vigency==1?'mes':'meses'}}</p>
            </div>
            <div class="recharge--block-right">
              <b>{{package.cost_by_package | currency}}</b>
              <p>{{package.cost_by_km | currency }} / km</p>
            </div>
          </div>
      </div>
      
      <!-- <div class="recharge--block">
          <div class="recharge--block-container" routerLink="/purchase-options/recharge">
            <div class="recharge--block-left">
              <b>250 Km</b>
              <p>1 MES DE VIGENCIA</p>
            </div>
            <div class="recharge--block-right">
              <b>$145</b>
              <p>$0.58 / km</p>
            </div>
          </div>
      </div>

      <div class="recharge--block">
          <div class="recharge--block-container" routerLink="/purchase-options/recharge">
            <div class="recharge--block-left">
              <b>250 Km</b>
              <p>1 MES DE VIGENCIA</p>
            </div>
            <div class="recharge--block-right">
              <b>$145</b>
              <p>$0.58 / km</p>
            </div>
          </div>
      </div> -->

    </div>

</ion-content>
