<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="ios-arrow-down" (click)="closeModal()"></ion-icon>
    <p>La ayuda va en camino</p>
  </div>
</ion-header>

<ion-content>

  <div class="tracking--map">map</div>
  
  <div class="widget tracking--help">
    <div class="tracking--help-content">
      <div class="tracking--help-time">
        <p>26</p>
        <p>MIN</p>
      </div>
      <div class="tracking--help-call">
        <div>
          <b>Tu ajustador</b>
          <p>Carlos Duran</p>
        </div>
        <a href="tel:5544332211">
          <ion-icon name="md-call"></ion-icon>
        </a>
      </div>
    </div>
  </div>

</ion-content>