<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="close" routerLink="/tabs/tabs/welcome" routerDirection="back"></ion-icon>
    <p>Historial de pagos</p>
  </div>
</ion-header>

<ion-content>
  <div class="order--list">

    <ion-item *ngFor="let acquisiotion of acquisiotions" class="order--item" lines="none" mode="ios" (click)="orderDetail(acquisiotion)">
      <div class="order--item-start">
        <img src="../../../assets/ui/order-recharge.png" />
        <div>
          <b>Recarga {{acquisiotion.kilometers}} Kms</b>
          <p>{{acquisiotion.date | date: 'd/MM/yyyy'}}</p>
        </div>
      </div>
      <div class="order--item-end">
        <b>{{acquisiotion.amount | currency}}</b>
      </div>
    </ion-item>

    <ion-item *ngFor="let membership of memberships" class="order--item" lines="none" mode="ios" (click)="orderDetail(membership)">
      <div class="order--item-start">
        <img src="../../../assets/ui/order-subscription.png" />
        <div>
          <b>Suscripción</b>
          <p>{{membership.date | date: 'd/MM/yyyy'}}</p>
        </div>
      </div>
      <div class="order--item-end">
        <b>{{membership.amount | currency}}</b>
      </div>
    </ion-item>

  </div>
</ion-content>
