<ion-header mode="ios">
  <div class="header--page">
    <a routerLink="/tabs/tabs/trips" routerDirection="back">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content>

  <div class="detail--header">
    <p>{{ today | date: 'dd/MM/yyyy' }}</p>
    <b>{{ dataTripDetails?.distance | number : '1.2-2' }} Km</b>
  </div>

  <div class="detail--content" padding>

    <div class="detail--highlights">
      <div>
        <p>Tiempo detenido</p>
        <b>{{ (dataTripDetails?.idling_time !== null && dataTripDetails?.idling_time !== undefined ) ? (dataTripDetails?.idling_time | number : '1.2-2') : 0 }}
          minutos</b>
      </div>
      <div>
        <p>Velocidad promedio</p>
        <b>{{ (dataTripDetails?.avg_drive_speed !== null && dataTripDetails?.avg_drive_speed !== undefined ) ? (dataTripDetails?.avg_drive_speed | number : '1.2-2') : 0 }}
          km/h</b>
      </div>
      <div>
        <p>Velocidad máxima</p>
        <b>{{ (dataTripDetails?.max_speed !== null && dataTripDetails?.max_speed !== undefined ) ? (dataTripDetails?.max_speed | number : '1.2-2') : 0 }}
          km/h</b>
      </div>
    </div>

    <div class="detail--map">
      <div id="map-details" style="width: 100%; height: 100%;"></div>
    </div>

    <div class="detail--info">
      <div class="detail--info-block">
        <img src="/assets/ui/trip-start.svg" />
        <div>
          <b>{{ (dataTripDetails?.started_at !== null && dataTripDetails?.started_at !== undefined ) ? (dataTripDetails?.started_at | date:'shortTime') : "" }}</b>
          <p>
            {{ (dataTripDetails?.init_trip?.street !== null) ? (dataTripDetails?.init_trip?.street) : " No existe dirección del punto inicial." }}
          </p>
        </div>
      </div>
      <div class="detail--info-block end">
        <img src="/assets/ui/trip-end.svg" />
        <div>
          <b>{{ (dataTripDetails?.finished_at !== null && dataTripDetails?.finished_at !== undefined) ? (dataTripDetails?.finished_at | date:'shortTime') : "" }}</b>
          <p>
            {{ (dataTripDetails?.end_trip?.street !== null) ? (dataTripDetails?.end_trip?.street) : " No existe dirección del punto final." }}
          </p>
        </div>
      </div>
    </div>

    <div class="detail--labels">
      <p class="indicator low">Velocidad menor a 40 kms/hr.</p>
      <p class="indicator medium">Velocidad mayor a 40 kms/hr y menor a 70 kms/hr.</p>
      <p class="indicator high">Velocidad mayor a 70 kms/hr.</p>
    </div>

    <div class="detail--habits">
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
    </div>

  </div>
</ion-content>