<ion-header mode="ios">
  <div class="header--page">
    <a routerLink="/tabs/tabs/trips" routerDirection="back">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content>

  <div class="detail--header">
    <p>Martes 7 de Junio 2018</p>
    <b>11.23 km</b>
  </div>

  <div class="detail--content" padding>

    <div class="detail--highlights">
      <div>
        <p>Tiempo detenido</p>
        <b>4.7 minutos</b>
      </div>
      <div>
        <p>Velocidad promedio</p>
        <b>28.4 km/h</b>
      </div>
      <div>
        <p>Velocidad máxima</p>
        <b>65.3 km/h</b>
      </div>
    </div>

    <div class="detail--map">map</div>

    <div class="detail--info">
      <div class="detail--info-block">
        <img src="/assets/ui/trip-start.svg" />
        <div>
          <b>7:23 am</b>
          <p>Av. Oaxaca 134, Roma Nte., 06700, CDMX, México</p>
        </div>
      </div>
      <div class="detail--info-block end">
        <img src="/assets/ui/trip-end.svg" />
        <div>
          <b>7:54 pm</b>
          <p>Calle de Aguascalientes 165, Hipódromo, 06100, CDMX, México</p>
        </div>
      </div>
    </div>

    <div class="detail--habits">
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
      <div class="detail--habits-item">
        <img src="../../../../assets/demo/icon.svg" />
        <p>title</p>
        <b>Value</b>
      </div>
    </div>

  </div>
</ion-content>