<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/credentials" routerDirection="back"></ion-icon>
    <p>Restablecer Contraseña</p>
  </div>
</ion-header>

<ion-content>

  <div class="form--container">

    <form #passwordReset="ngForm" (ngSubmit)="onSubmit(passwordReset)" class="form--clean">

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Nueva contraseña</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newPassword" ngModel minlength="4" required #newPassword="ngModel"></ion-input>
          <ion-icon [name]="!this.showPassword ? 'md-eye' : 'md-eye-off'" (click)="passwordVisibility()"></ion-icon>
        </ion-item>
      </div>

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Confirmar nueva contraseña</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newPasswordConfirm" ngModel minlength="4" required #newPasswordConfirm="ngModel"></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-button *ngIf="!newPassword.valid || !newPasswordConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
          disabled>Siguiente</ion-button>
        <ion-button *ngIf="newPassword.valid && newPasswordConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
          routerLink="/credentals">Siguiente</ion-button>
      </div>

      <div class="form--validation" *ngIf="newPasswordConfirm.touched && !newPasswordConfirm.valid">
        <ion-text>Mensaje de validación correspondiente</ion-text>
      </div>

    </form>

  </div>

</ion-content>
