<ion-header mode="ios">
  <div class="header--page">
    <a routerLink="/tabs/tabs/welcome" routerDirection="back">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content>
  <div class="status--container">

    <div class="status--header">
      <div>
        <img src="/assets/makers/{{ car_select?.car.details.maker_name | uppercase }}.png" />
      </div>
    </div>

    <div class="status--message">
      <!-- mensaje de status dinámico -->
      <div *ngIf="dataCarDtcs?.length == 0 && car_select?.car.device " class="auto--status-message">
        <ion-icon name="checkmark-circle-outline" class="ok"></ion-icon>
        <ion-text>Tu auto está en orden</ion-text>
      </div>
      <div *ngIf="dataCarDtcs?.length != 0 && car_select?.car.device " class="auto--status-message" padding>
        <ion-icon name="alert" color="warning"></ion-icon>
        <ion-text>Tu auto presenta fallas</ion-text>
      </div>
      <div *ngIf="!car_select?.car.device" class="auto--status-message">
        <ion-text>Conecta tu dispositivo</ion-text>
      </div>
    </div>

    <div class="status--images">
      <img src="../../../assets/indicadores/auto.png" />
    </div>

    <div class="status--options">
      <a *ngIf="fail_buttons['sistema_electrico']['status']"
        (click)="openModalDtcs([0],'/assets/indicadores/sistema_electrico.png')">Sistema eléctrico</a>
      <a *ngIf="fail_buttons['cumbustible']['status']"
        (click)="openModalDtcs([1],'/assets/indicadores/combustible.png')">Combustible y aire</a>
      <a *ngIf="fail_buttons['inyectores']['status']"
        (click)="openModalDtcs([2],'/assets/indicadores/inyectores.png')">Inyectores</a>
      <a *ngIf="fail_buttons['sistema_encendido']['status']"
        (click)="openModalDtcs([3],'/assets/indicadores/sistema_encendido.png')">Sistema de encendido</a>
      <a *ngIf="fail_buttons['control_emisiones']['status']"
        (click)="openModalDtcs([4],'/assets/indicadores/control_emisiones.png')">Control de emisiones</a>
      <a *ngIf="fail_buttons['control_velocidad']['status']"
        (click)="openModalDtcs([5],'/assets/indicadores/control_velocidad.png')">Control de velocidad</a>
      <a *ngIf="fail_buttons['ecu']['status']" (click)="openModalDtcs([6],'/assets/indicadores/ecu.png')">ECU
        entradas y salidas</a>
      <a *ngIf="fail_buttons['transmision']['status']"
        (click)="openModalDtcs([7,8,9],'/assets/indicadores/transmision.png')">Transmisión</a>
    </div>

  </div>
</ion-content>