<ion-content>

  <div class="tabs--bg"></div>
  <div class="tabs--translate">
    
    <div class="rewards--header">
      <div class="rewards--header-icon">
        <img *ngIf="car_select?.car.details.level_gamification == 'Novato'" src="../../../assets/ui/levels/Novato_On.svg" />
        <img *ngIf="car_select?.car.details.level_gamification == 'Guerrero'" src="../../../assets/ui/levels/Conductor_On.svg" />
        <img *ngIf="car_select?.car.details.level_gamification == 'Rockstar'" src="../../../assets/ui/levels/Veterano_On.svg" />
        <img *ngIf="car_select?.car.details.level_gamification == 'Leyenda'" src="../../../assets/ui/levels/Piloto_On.svg" />
      </div>
      <div class="rewards--header-content">

        <!-- asignar color con clase color-[color] -->
        <h2 class="color--sky">{{current_level?.level}}</h2>

        <div class="rewards--header-info">
          <div class="rewards--header-points">
            <div class="rewards--header-points_svg">

              <!-- colocar los colores correspondientes dependiendo del nivel del usuario -->
              <!--
                sky: #0cc1f9 #DAF2FC
                blue: #5387d1 #E6F0FD
                yellow: #ffbb01 #FFEFC3
                green: #2ec23b #E6FDE8
              -->
              <circle-progress [percent]="100" [title]="3" [titleColor]="'#ffbb01'" [outerStrokeColor]="'#ffbb01'" [backgroundColor]="'#FFEFC3'"></circle-progress>
            </div>
            <p>{{car_select?.car.details.reward_points}} Puntos</p>
          </div>
          <a (click)="showLevel(car_select?.car.details.level_gamification)"><span>BENEFICIOS</span><ion-icon name="ios-arrow-forward" color="medium"></ion-icon>
          </a>
        </div>
      </div>
    </div>
    
    <div class="rewards--levels">
      <div>
        <img class="{{car_select?.car.details.level_gamification == 'Novato' ? '' : 'disabled'}}" src="../../../assets/ui/levels/Novato_On.svg" />
        <!-- asignar color con clase color-[color] -->
        <p class="{{current_level?.level === 'Novato' ? 'color--sky' : '' }}">Novato</p>
      </div>
      <div>
        <img class="{{car_select?.car.details.level_gamification == 'Guerrero' ? '' : 'disabled'}}" src="../../../assets/ui/levels/Conductor_On.svg" />
        <!-- asignar color con clase color-[color] -->
        <p class="{{current_level?.level == 'Guerrero' ? 'color--yellow' : '' }}">Guerrero</p>
      </div>
      <div>
        <img class="{{car_select?.car.details.level_gamification == 'Rockstar' ? '' : 'disabled'}}" src="../../../assets/ui/levels/Veterano_On.svg" />
        <!-- asignar color con clase color-[color] -->
        <p class="{{current_level?.level == 'Rockstar' ? 'color--green' : '' }}">Rockstar</p>
      </div>
      <div>
        <img class="{{car_select?.car.details.level_gamification == 'Leyenda' ? '' : 'disabled'}}" src="../../../assets/ui/levels/Piloto_On.svg" />
        <!-- asignar color con clase color-[color] -->
        <p class="{{current_level?.level == 'Leyenda' ? 'color--blue' : '' }}">Leyenda</p>
      </div>
    </div>
    
    <div class="rewards--activity">

      <ion-refresher slot="fixed" (ionRefresh)="refreshPointsTransactions($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <div class="rewards--activity-list" *ngFor="let points of arrayPointsTransactions">
      
        <!-- si es un puntaje negativo se agrega la classe 'negative' -->
        <div *ngIf="points.points < 0"  class="rewards--activity-row negative">
          <div>
            <img *ngIf="points.level_name == 'Novato'" src="../../../assets/ui/activity-sky.svg"/>
            <img *ngIf="points.level_name == 'Guerrero'" src="../../../assets/ui/activity-yellow.svg"/>
            <img *ngIf="points.level_name == 'Rockstar'" src="../../../assets/ui/activity-green.svg"/>
            <img *ngIf="points.level_name == 'Leyenda'" src="../../../assets/ui/activity-blue.svg"/>
          </div>
          <div>
            <p>{{points.points}}.</p>
          </div>
          <div>
            <p>{{points.event_reference}}</p>
            <span>{{points.created_at}}</span>
          </div>
        </div>

        <div *ngIf="points.points > 0"  class="rewards--activity-row positive">
          <div>
            <img *ngIf="points.level_name == 'Novato'" src="../../../assets/ui/activity-sky.svg"/>
            <img *ngIf="points.level_name == 'Guerrero'" src="../../../assets/ui/activity-yellow.svg"/>
            <img *ngIf="points.level_name == 'Rockstar'" src="../../../assets/ui/activity-green.svg"/>
            <img *ngIf="points.level_name == 'Leyenda'" src="../../../assets/ui/activity-blue.svg"/>
          </div>
          <div>
            <p>{{points.points}}</p>
          </div>
          <div>
            <p>{{points.event_reference}}</p>
            <span>{{points.created_at}}</span>
          </div>
        </div>

        <div *ngIf="points?.level_gamification" class="rewards--activity-row">
          <div>
            <img *ngIf="points.level_gamification.level == 'Novato'" src="../../../assets/ui/activity-level1.svg" />
            <img *ngIf="points.level_gamification.level == 'Guerrero'" src="../../../assets/ui/activity-level2.svg" />
            <img *ngIf="points.level_gamification.level == 'Rockstar'" src="../../../assets/ui/activity-level3.svg" />
            <img *ngIf="points.level_gamification.level == 'Leyenda'" src="../../../assets/ui/activity-level4.svg" />
          </div>
          <div>
            <p></p>
          </div>
          <div>
            <p>Subiste a nivel {{points.level_gamification.level}}</p>
            <span>{{points.created_at}}</span>
          </div>
        </div>

        <!-- <div class="rewards--activity-row negative">
          <div>
            <img src="../../../assets/ui/activity-yellow.svg" />
          </div>
          <div>
            <p>-20 pts.</p>
          </div>
          <div>
            <p>Frenado brusco</p>
            <span>15 junio 2019</span>
          </div>
        </div>
      
        <div class="rewards--activity-row">
          <div>
            <img src="../../../assets/ui/activity-yellow.svg" />
          </div>
          <div>
            <p>30 pts.</p>
          </div>
          <div>
            <p>Una semana sin vueltas bruscas</p>
            <span>9 junio 2019</span>
          </div>
        </div>
      
        <div class="rewards--activity-row">
          <div>
            <img src="../../../assets/ui/activity-yellow.svg" />
          </div>
          <div>
            <p>60 pts.</p>
          </div>
          <div>
            <p>Una semana sin velocidad excesiva</p>
            <span>3 junio 2019</span>
          </div>
        </div>
      
        <div class="rewards--activity-row">
          <div>
            <img src="../../../assets/ui/activity-level2.svg" />
          </div>
          <div>
            <p></p>
          </div>
          <div>
            <p>Subiste a nivel Guerrero</p>
            <span>22 mayo 2019</span>
          </div>
        </div>
      
        <div class="rewards--activity-row negative">
          <div>
            <img src="../../../assets/ui/activity-sky.svg" />
          </div>
          <div>
            <p>-20 pts.</p>
          </div>
          <div>
            <p>Acelerado brusco</p>
            <span>11 mayo 2019</span>
          </div>
        </div>
      
        <div class="rewards--activity-row positive">
          <div>
            <img src="../../../assets/ui/activity-sky.svg" />
          </div>
          <div>
            <p>30 pts.</p>
          </div>
          <div>
            <p>Una semana sin vueltas bruscas</p>
            <span>8 mayo 2019</span>
          </div>
        </div>
      
        <div class="rewards--activity-row negative">
          <div>
            <img src="../../../assets/ui/activity-sky.svg" />
          </div>
          <div>
            <p>-15 pts.</p>
          </div>
          <div>
            <p>Velocidad excesiva</p>
            <span>2 mayo 2019</span>
          </div>
        </div>

        <div class="rewards--activity-row">
          <div>
            <img src="../../../assets/ui/activity-level1.svg" />
          </div>
          <div>
            <p></p>
          </div>
          <div>
            <p>Subiste a nivel Novato</p>
            <span>21 abril 2019</span>
          </div>
        </div>

        <div class="rewards--activity-row">
          <div>
            <img src="../../../assets/ui/activity-grey.svg" />
          </div>
          <div>
            <p>1000 pts.</p>
          </div>
          <div>
            <p>Completaste tu perfil</p>
            <span>21 abril 2019</span>
          </div>
        </div>-->
      
      </div>
    </div>  
  </div>

  <ion-infinite-scroll [disabled]="!enabled" threshold="50px" (ionInfinite)="getPointsTransaction(false, $event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando puntos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
