<ion-header mode="ios">
  <div class="header--clean">
    <ion-icon name="ios-arrow-back" routerLink="/credentials" routerDirection="back"></ion-icon>
    <p>Restablecer NIP</p>
  </div>
</ion-header>

<ion-content>

  <div class="form--container">

    <form #nipReset="ngForm" (ngSubmit)="onSubmit(nipReset)" class="form--clean">

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Nueva contraseña</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newNip" ngModel minlength="4" required #newNip="ngModel"></ion-input>
          <ion-icon [name]="!this.showPassword ? 'md-eye' : 'md-eye-off'" (click)="passwordVisibility()"></ion-icon>
        </ion-item>
      </div>

      <div>
        <ion-item mode="ios">
          <ion-label position="floating" mode="ios">Confirmar nueva contraseña</ion-label>
          <ion-input [type]="!this.showPassword ? 'password' : 'text'" name="newNipConfirm" ngModel minlength="4" required #newNipConfirm="ngModel"></ion-input>
        </ion-item>
      </div>

      <div>
        <ion-button *ngIf="!newNip.valid || !newNipConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
          disabled>Siguiente</ion-button>
        <ion-button *ngIf="newNip.valid && newNipConfirm.valid" fill="solid" expand="full" shape="round" mode="ios"
          routerLink="/credentals">Siguiente</ion-button>
      </div>

      <div class="form--validation" *ngIf="newNipConfirm.touched && !newNipConfirm.valid">
        <ion-text>Mensaje de validación correspondiente</ion-text>
      </div>

    </form>

  </div>

</ion-content>
