<ion-content>

  <div class="tabs--bg"></div>
  <div class="tabs--translate">

    <div class="policy--header">
      <div class="policy--header-content">
        <span>
          <img src="../../../assets/ui/icon-shield.svg" />
        </span>
        <div>
          <h2>PÓLIZA</h2>
          <b>{{car_select?.policy_id }}
          </b>
          <p>Vigencia {{ car_select?.expires_at | date:'shortDate' }}</p>
        </div>
      </div>
    </div>

    <div class="policy--content">
      <!-- <div>
        <a routerLink="/conditions">
          <span>Condiciones Generales</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </div> -->
      <div>
        <a href="{{url}}policies/{{ car_select?.policy_id}}/certificate" target="_blank">
          <span>Descargar Póliza</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </div>
    </div>

  </div>
  
</ion-content>
