<ion-content>
  <div class="initial--container">

    <div class="initial--logo">
      <div>
        <img src="../../../assets/ui/logo240.png" alt="SXKM" />
      </div>
    </div>

    <div class="initial--action">
      <div>
        <p>Ahorra en tu seguro</p>
        <p>pagando por kilómetro</p>
        <a href="https://sxkm.mx/">COTIZAR SEGURO</a>
        <ion-button fill="solid" expand="full" shape="round" color="secondary" mode="ios" routerLink="/login">INICIAR SESIÓN</ion-button>
      </div>
    </div>

  </div>
</ion-content>
