@mixin small {
  @media screen and (max-width: 320px) { @content; }
}
@mixin large {
  @media screen and (min-height: 748px) { @content; }
}
.initial {

  &--container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../assets/ui/bg-login747.png');
    @include large {
      background-image: url('../../../assets/ui/bg-login910.png');
    }
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }

  &--logo {
    width: 100%;
    text-align: center;
    margin: 22vh 0 3rem 0;
    @include large {
      margin-top: 21vh;
    }
    div {
      width: 40%;
      display: inline-block;
    }
    img { width: 100%; }
  }

  &--action {
    width: 100%;
    text-align: left;
    > div {
      width: 50%;
      text-align: center;
    }
    p {
      margin: 0.25rem 0;
      font-weight: bold;
      font-size: 0.85rem;
      @include small { font-size: 0.8rem; }
    }
    a {
      width: 100%;
      padding: 0.5rem;
      font-weight: bold;
      font-size: 0.85rem;
      @include small { font-size: 0.8rem; }
      margin: 0.5rem 0;
      color: var(--ion-color-secondary);
      border: 2px solid var(--ion-color-secondary);
      border-radius: 99px;
    }
    ion-button {
      width: 100%;
      color: white;
      font-weight: bold;
      font-size: 0.85rem;
      @include small { font-size: 0.8rem; }
      background-color: var(--ion-color-secondary);
      border: 2px solid var(--ion-color-secondary);
      border-radius: 99px;
    }
  }

}
