<ion-content>
  <div class="initial--container">

    <div class="initial--logo">
      <img src="../../../assets/ui/logo-white.png" alt="SXKM" />
    </div>

    <div class="initial--action">
      <p>Ahorra en tu seguro</p>
      <p>pagando por kilómetro</p>
      <a href="https://sxkm.mx/">COTIZAR SEGURO</a>
    </div>

    <div class="initial--start">
      <p>¿Estás asegurado con SXKM?</p>
      <ion-button fill="solid" expand="full" shape="round" mode="ios" routerLink="/login">INICIAR SESIÓN</ion-button>
    </div>

  </div>
</ion-content>
